html, body {
  height: 100%;
  overflow: hidden;
}

p {
  font-family: "Roboto Mono", monospace;
}

a:visited {
  color: blue;
}

#safe {
  position: absolute;
  top: calc(50% - 70px);
  left: calc(50% - 70px);
  width: 10%;
  cursor: pointer;
}

#safeBack {
  position: absolute;
  top: calc(50% - 70px);
  left: calc(50% - 70px);
  width: 10%;
  cursor: pointer;
  transition: transform 5s;
}

#safeFront {
  position: absolute;
  top: calc(50% - 70px);
  left: calc(50% - 70px);
  width: 10%;
  cursor: pointer;
  transition: transform 2.5s;
}

.passwordLabel {
  position: absolute;
  top: 50px;
  left: 200px;
  transform: translate(-50%, 0%);
  cursor: default;
  font-size: 20px;
}

#passwordInput {
  position: absolute;
  top: 115px;
  left: 20px;
  width: 360px;
  height: 50px;
  border-radius: 20px;
  font-size: 20px;
  cursor: text;
  text-indent: 15px;
}

.enterInfo {
  position: absolute;
  top: 160px;
  left: 20px;
}

.closePassword {
  position: absolute;
  left: 375px;
  font-size: 20px;
  top: -8px;
  color: red;
  cursor: pointer;
}

#keypad {
  position: absolute;
  width: 400px;
  height: 200px;
  background-color: orange;
  top: 70px;
  left: 50%;
  transform: translate(-50%, 0%);
}

#keypadheader {
  width: 400px;
  height: 50px;
  background-color: darkorange;
  top: -50px;
  z-index:2;
  cursor:move;
}

.hintIcon {
  width: 20px;
  top: 175px;
  left: 375px;
  position: absolute;
  cursor: pointer;
}

.hintText {
  top: 170px;
  left: 295px;
  position: absolute;
  font-size: 10px;
  cursor: default;
}

#retinalScanner {
  width: 350px;
  height: 450px;
  background-color: #9c9c9c;
  position: absolute;
  border: 5px solid #424242;
  top: 100px;
  left: 100px;
}

#retinalScannerheader {
  width: 360px;
  height: 70px;
  position: absolute;
  left: -5px;
  top: -5px;
  background-color: #424242;
  cursor: move;
}

.retinalScanTitle {
  color: #20cdd6;
  font-size: 25px;
  position: absolute;
  top: -7px;
  left: 65px;
  cursor: move;
}

#scannerImg{
  width: 250px;
  height: 200px;
  border: 3px solid #dedede;
  position: absolute;
  top: 130px;
  left: 45px;
}

.closeRetinal {
  position: absolute;
  left: 330px;
  font-size: 24px;
  top: -27px;
  color: red;
  cursor: pointer;
}

#moveableI {
  color: #18e7f2;
  font-size: 25px;
  position: absolute;
  top: -12px;
  left: 105px;
  cursor: pointer;
  height: 55px;
  width: 15px;
}

#robottest {
  background-color: #f0f0f0;
  border: 5px solid #00fff7;
  width: 320px;
  height: 400px;
  position: absolute;
  text-align: center;
  left: 700px;
  top: 130px;
}

#robottestheader {
  background-color: #00fff7;
  width: 320px;
  height: 60px;
  cursor: move;
}

.options {
  cursor: pointer;
}

#option1 {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 188px;
  left: 3px;
  border: 2px solid #3250a8;
}

#option2 {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 188px;
  left: 108px;
  border: 2px solid #3250a8;
}

#option3 {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 188px;
  left: 213px;
  border: 2px solid #3250a8;
}

#option4 {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 293px;
  left: 3px;
  border: 2px solid #3250a8;
}

#option5 {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 293px;
  left: 108px;
  border: 2px solid #3250a8;
}

#option6 {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 293px;
  left: 213px;
  border: 2px solid #3250a8;
}

#checkrobot {
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background-color: #3271a8;
  position: absolute;
  top: 155px;
  left: 217px;
  cursor: pointer;
}

.robotTestTitle {
  color: white;
  font-size: 25px;
  position: absolute;
  top: -15px;
  left: 160px;
  cursor: move;
  transform: translate(-50%, 0%);
}

#question {
  font-size: 20px;
  color: #405263;
  cursor: default;
}

#closeVerification {
  position: absolute;
  left: 300px;
  font-size: 24px;
  top: -27px;
  color: red;
  cursor: pointer;
}

#newquestion {
  border-radius: 25px;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  background-color: #fcba03;
  position: absolute;
  top: 153px;
  left: 5px;
  cursor: pointer;
}

#questionRound {
  position: absolute;
  top: 125px;
  left: 135px;
  font-size: 25px;
  cursor: default;
}

#browser {
  width: 600px;
  height: 414px;
  background-color: grey;
  position: absolute;
  top: 120px;
  left: 600px;
}

#browserheader {
  width: 600px;
  height: 50px;
  background-color: #3d3e40;
  cursor: move;
}

#boogleLogo {
  position: absolute;
  width: 110px;
  height: 50px;
  top: 3px;
  left: 5px;
  cursor: pointer;
}

#websiteName {
  width: 400px;
  height: 30px;
  font-size: 15px;
  cursor: default;
  position: absolute;
  top: 7px;
  left: 120px;
}

#key {
  position: absolute;
  top: 190px;
  height: 100px;
  width: 50px;
  left: 135px;
}

#vaultguardHeader {
  background-color: #333333;
  position: absolute;
  width: 598px;
  height: 50px;
  border: 1px solid black;
}

#vaultguardSidebar {
  position: absolute;
  width: 198px;
  height: 362px;
}

.vaultguardTitle {
  font-size: 20px;
  position: absolute;
  top: -9px;
  left: 300px;
  transform: translate(-50%, 0%);
  color: lime;
}

.unavalible {
  height: 50px;
  width: 196px;
  border: 1px solid black;
  background-color: #333333;
  color: lime;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
}

#vaultguardSignin {
  width: 250px;
  height: 350px;
  background-color: ghostwhite;
  border: 4px solid #346eeb;
  position: absolute;
  top: 100px;
  left: 700px;
}

#vaultguardSigninheader {
  width: 250px;
  height: 30px;
  background-color: #346eeb;
  cursor: move;
  position: absolute;
  color: white;
}

#usernameText {
  position: absolute;
  left: 15px;
  top: 130px;
  cursor: default;
}

#passwordText {
  position: absolute;
  left: 86.5px;
  top: 150px;
  cursor: default;
}

#usernameBox {
  position: absolute;
  top: 175px;
  left: 15px;
  width: 200px;
  height: 30px;
}

#passwordBox {
  position: absolute;
  top: 215px;
  left: 20px;
  width: 200px;
  height: 30px;
}

#signinSubmit {
  background-color: #214dad;
  position: absolute;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
  top: 300px;
  left: 156px;
}

#forgotPasswordButton {
  color: #346eeb;
  position: absolute;
  top: 300px;
  left: 15px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: ghostwhite;
}

#guard {
  font-size: 80px;
  position: absolute;
  top: -60px;
  left: 80px;
  cursor: default;
}

#guardNote {
  font-size: 9px;
  position: absolute;
  top: 111px;
  left: 0px;
  text-align: center;
}

#pinText {
  position: absolute;
  left: 15px;
  top: 200px;
  cursor: default;
  font-size: 16px;
}

#pinInput {
  position: absolute;
  left: 15px;
  top: 250px;
  font-size: 30px;
  width: 55px;
}

#submitPin {
  position: absolute;
  left: 100px;
  top: 257px;
  font-size: 20px;
  cursor: pointer;
  background-color: #346eeb;
  border: none;
  border-radius: 3px;
  color: white;
  padding: 2px 3px;
}

#goback {
  position: absolute;
  left: 15px;
  top: 160px;
  color: white;
  background-color: red;
  border: none;
  border-radius: 3px;
  padding: 2px 5px;
  cursor: pointer;
}

#passwordHint {
  font-size: 25px;
  position: absolute;
  top: 160px;
  left: 295px;
  color: white;
  cursor: default;
}

#passwordHintBoogle {
  font-size: 25px;
  position: absolute;
  top: 200px;
  left: 325px;
  color: lime;
}

#results {
  font-size: 20px;
}

.description {
  font-size: 10px;
  width: 300px;
}

#resultsContainer {
  margin-left: 20px;
  height: 364px;
  overflow: hidden;
  overflow-y: scroll;
}

#commandLineWebsiteHeader {
  background-color: white;
  position: absolute;
  width: 598px;
  height: 50px;
  border: 1px solid black;
  top: 50px;
  font-size: 15px;
  cursor: default;
  text-align: center;
}

#commandlinePromo {
  position: absolute;
  width: 150px;
  top: 140px;
  left: 300px;
  transform: translate(-50%, 0%);
}

#commandlineLabel {
  position: absolute;
  width: 150px;
  top: 320px;
  left: 300px;
  transform: translate(-50%, 0%);
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  background-color: lime;
  border: 1px solid black;
  color: black;
  transition: transform .2s;
}

#closeSignIn {
  position: absolute;
  left: 235px;
  font-size: 20px;
  top: -22px;
  color: red;
  cursor: pointer;
}

#tcTitle {
  position: absolute;
  left: 15px;
  top: 100px;
  width: 350px;
  font-weight: bold;
}

#termsandconditions {
  position: absolute;
  left: 15px;
  top: 180px;
  width: 350px;
  font-size: 10px;
  overflow: hidden;
  overflow-y: scroll;
  height: 201px;
}

#tcContinue {
  background-color: #214dad;
  position: absolute;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
  top: 365px;
  left: 470px;
}

#tcQuestionTitle {
  position: absolute;
  width: 600px;
  text-align: center;
  top: 100px;
  font-size: 20px;
}

#tcQuestionSubtitle {
  position: absolute;
  width: 600px;
  text-align: center;
  top: 135px;
  font-size: 15px;
}

#optionA {
  position: absolute;
  top: 210px;
  left: 80px;
  width: 200px;
  height: 45px;
  cursor: pointer;
}

#optionB {
  position: absolute;
  top: 210px;
  left: 320px;
  width: 200px;
  height: 45px;
  cursor: pointer;
}

#optionC {
  position: absolute;
  top: 275px;
  left: 80px;
  width: 200px;
  height: 45px;
  cursor: pointer;
}

#optionD {
  position: absolute;
  top: 275px;
  left: 320px;
  width: 200px;
  height: 45px;
  cursor: pointer;
}

#warning {
  color: red;
  position: absolute;
  font-size: 15px;
  top: 310px;
  left: 80px;
  cursor: default;
}

#downloadingText {
  position: absolute;
  font-size: 20px;
  left: 300px;
  transform: translate(-50%, 0%);
  top: 150px;
}

#downloadingBar {
  position: absolute;
  top: 250px;
  left: 300px;
  transform: translate(-50%, 0%);
  width: 500px;
  background-color: grey;
  height: 5px;
}

#downloadingGreen {
  position: absolute;
  top: 250px;
  left: 50px;
  width: 1px;
  background-color: lime;
  height: 5px;
}

#applications {
  position: absolute;
  left: -10px;
  top: 450px;
  background-color: #bfbfbf;
  width: 110px;
  height: 100px;
  border-radius: 10px;
}

#commandLine {
  cursor: pointer;
  width: 80px;
  margin: 10px 10px 10px 20px;
  transition: transform .1s;
}

#commandLineApp {
  position: absolute;
  width: 500px;
  height: 300px;
  background-color: #474747;
  cursor: default;
  top: 100px;
  left: 110px;
  overflow: hidden;
  overflow-y: scroll;
}

#commandLineAppheader {
  background-color: #5c5c5c;
  top: 0px;
  left: 0px;
  height: 30px;
  width: 500px;
  cursor: move;
  position: sticky;
  z-index: 2;
}

#clTag {
  position: absolute;
  top: 17px;
  left: 150px;
  font-size: 20px;
  width: 145px;
}



#commandLine:hover {
  transform: scale(1.1);
}

#keyhole {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 150px;
  left: 250px;
  width: 100px;
  height: 150px;
  background-color: red;
}

#keyholeLabel {
  position: absolute;
  left: 250px;
  transform: translate(-50%, 0%);
  top: 230px;
  font-size: 20px;
  color: red;
  width: 300px;
}

#pastaPictures {
  width: 
}

#bash {
  position: absolute;
  top: 30px;
  left: 130px;
  width: 365px;
  height: 30px;
  background-color: black;
  border: none;
  color: lime;
  font-size: 15px;
  outline: none;
}

.rows {
  color: lime;
  left: 130px;
  font-size: 15px;
  position: absolute;
}



.shells {
  color: lime;
  left: 10px;
  font-size: 15px;
  position: absolute;
  z-index: 1;
}

#submitNewPassword {
  position: absolute;
  left: 125px;
  transform: translate(-50%, 0%);
  top: 305px;
  font-size: 18px;
  background-color: orange;
  color: white;
  border-radius: 2px;
  border: none;
  cursor: pointer;
}

#podium {
  position: absolute;
  background-color: #5c5c5c;
  width: 250px;
  height: 500px;
  top: 760px; /* End at 375px, start at 760px */
  left: calc(50% - 125px);
}

#prize {
  width: 100px;
  height: 53px;
  transform: rotate(-20deg);
  top: 340px;
  position: absolute;
  left: calc(50% - 50px);
  transition: transform 0.5s;
}

#hackernetHeader {
  width: 600px;
  height: 50px;
  background-color: #616161;
  position: absolute;
  top: 50px;
}

#hackernet {
  position: absolute;
  width: 250px;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

.hackernettitle {
  font-size: 25px;
  color: white;
  width: 500px;
  position: absolute;
  left: 20px;
}

.hackernetsubtitle {
  font-size: 18px;
  color: white;
  position: absolute;
  left: 20px;
}

.hackernetparagraph {
  color: white;
 position: absolute;
  left: 20px;
}

#hn {
  margin-left: 20px;
  height: 314px;
  overflow: hidden;
  overflow-y: scroll;
  width: 580px;
  position: absolute;
  top: 100px;
}

#hnContainer {
  font-size: 20px;
}

#credit {
  position: absolute;
  bottom: 0px;
  left: 10px;
  font-size: 10px;
}

#buymeacoffee {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 10px;
  width: 102px;
  cursor: pointer;
}